name: Actualizar Observatorio
on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1"
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Instalacion
        run: pip install pandas requests reportlab
      - name: Proceso
        run: python generar_datos.py
      - name: Deploy
        run: |
          git config user.name "Bot"
          git config user.email "bot@github.com"
          git add .
          git commit -m "Update" || echo "No changes"
          git push
