name: Generar Observatorio

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Instalar Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Instalar dependencias
      run: |
        pip install pandas requests

    - name: Ejecutar script
      run: python generar_datos.py

    - name: Commit cambios
      run: |
        git config user.name github-actions
        git config user.email actions@github.com
        git add index.html
        git commit -m "Auto update observatorio" || echo "No changes"
        git push
